<ion-view view-title="Sales man" >
    <ion-content>
        <div class="list" ng-controller="SalesmanController">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="sm.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Id" ng-model="sm.id">
            </label>
            <button class="button button-full button-positive" ng-click='sale()'>
                Submit
            </button>
        </div>






    </ion-content>








</ion-view>