<ion-view view-title="Welcome To Home Page" hide-back-button="true">
    <ion-content>
        <div class="list">

            <a  id="round" href="#/Admin" class="item item-icon-left" >
                <img src="img\Admin.png" height="100" width="200" >
                <br/>
                Admin
            </a>
            <a  id="round" href="#/Salesman" class="item item-icon-left" >
                <img src="img\salesman1.png" height="100" width="200" >
                <br/>
                Salesman Information
            </a>
            <a  id="round" href="#/Contactus" class="item item-icon-left" >
                <img src="img\contact.jpg" height="100" width="200" >
                <br/>
                Contact Us
            </a>
            <a  id="round" href="#/Orderbooking" class="item item-icon-left" >
                <img src="img\order.png" height="100" width="200" >
                <br/>
                Order Booking
            </a>
        </div>
    </ion-content>
</ion-view>