<ion-view view-title="Welcome To Sales Forum Any Thing Your Choice" id="tour-view" class="tou">

    <ion-slide-box show-pager="true">
        <ion-slide>
            <img src="img\salesman.jpg" height="200" width="700">
            <span></span>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <a id="lage" class="button button-block button-positive" href="#/Home" nav-clear>
                Start</a>
            <br/>
            <br/>
            <br/>

            <p class="note" id="shad">
                <b>Press Start Button & used it....</b>

            </p>
        </ion-slide>
        <!--<ion-slide>
          <span class="icon icon-slide ion-fork"></span>
          <h3>Find local restaurants</h3>
        </ion-slide>
        <ion-slide>
          <span class="icon icon-slide ion-ios-sunny"></span>
          <h3>Get the weather</h3>
        </ion-slide>-->

    </ion-slide-box>
    <div class="bar bar-footer  bar-dark">
        <div class="title">Sufiyan Bawany</div>
    </div>
</ion-view>